body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
/* PERSO */
.profil {
	display: flex;
}
.blocProfil {
	display: flex;
	flex-direction: column;
	width: 50vw;
	height: 110vh;
	padding-left: 2vw;
	padding-right: 2vw;
	text-align: center;
}

.formId {
	text-align: left;
}
.formInputDescription {
	height: 9vh;
}

textarea {
	border-color: #5adfbc;
}

/* SEARCHBAR */
.navSearch {
	display: flex;
	background-color: #ffc0cb;
	justify-content: space-between;
	align-items: center;
}
.gptech {
	display: flex;
	flex-direction: column;
	text-shadow: 1px 1px 2px black;
	align-items: center;
}
.titre {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	color: white;
}
.sstitre {
	margin-top: -2vh;
	color: #5adfbc;
}
.inputSearch {
	width: 20vw;
	height: fit-content;
}

/* NAVBAR */
.navbar {
	width: 15vw;
	height: 110vh;
	background-color: pink;
	text-align: center;
}

.classDiv {
	margin-top: 20%;
	margin-bottom: 3%;
}

/* S IDENTIFIER */
.blocIdentifiant {
	border: 5px solid #5adfbc;
	width: 35vw;
	position: absolute;
	top: 25vh;
	right: 18vw;
	text-align: center;
	padding-bottom: 2%;
}
.middle {
	display: flex;
}

.espace {
	padding: 2%;
}

.buttonValider {
	padding: 4%;
}
button {
	width: 10vw;
	background-color: pink;
	font-style: normal;
	padding-top: 2px;
	padding-bottom: 2px;
	border-color: #5adfbc;
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px 2px black;
}
