.bot {
	width: 20vw;
	padding-right: 2vw;
	padding-top: 2vw;
}
.homeBody {
	display: flex;
	justify-content: space-between;
}
.nav {
	display: flex;
	flex-direction: column;
}
.footer {
	font-size: 0.8em;
	text-align: center;
	color: pink;
}
.banner {
	position: static;
	width: 100vw;
}
.title {
	position: relative;
	padding: 1vh 0vw 1vh 5vw;
	color: white;
	background-color: rgb(10, 140, 131);
}

.post {
	height: fit-content;
}

#fileInput {
	display: none;
}
.logo {
	width: 8vw;
}
.go {
	text-align: center;
}
.input {
	margin-left: 2vw;
}
.display {
	background-color: white;
	padding-left: 2vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
	margin-top: 2vh;
}
input {
	border-color: #5adfbc;
}
a:-webkit-any-link {
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px 1px black;
}
.advert {
	display: flex;
	flex-direction: column;
}
.upload {
	padding: 1vw;
}
.posts {
	display: flex;
	flex-direction: column;
	width: 40vw;
}
