.bot {
	width: 20vw;
	align-items: center;
	padding-right: 2vw;
	padding-top: 2vw;
}
.homeBody {
	display: flex;
	justify-content: space-between;
}
.nav {
	display: flex;
	flex-direction: column;
}
.footer {
	font-size: 0.7em;
	text-align: center;
}
.banner {
	position: static;
	width: 100vw;
}
.title {
	position: relative;
	padding: 1vh 0vw 1vh 5vw;
	color: white;
	background-color: rgb(10, 140, 131);
}
.centerBody {
	width: 50vw;
	height: 50vh;
	padding-left: 2vw;
	padding-right: 2vw;
	display: flex;
	flex-direction: column;
	align-items: top;
}
.post {
	height: fit-content;
}

#fileInput {
	display: none;
}
.logo {
	width: 50px;
}
.go {
	text-align: center;
}
.input {
	width: 30vw;
	margin-left: 2vw;
}
.display {
	border: 1px solid pink;
	padding-left: 2vw;
}
