body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
/* PERSO */

.blocProfil {
	width: 38%;
	position: absolute;
	top: 8vh;
	right: 20vw;
	border-radius: 8%;
	padding-bottom: 2%;
	text-align: center;
}

.formId {
	text-align: left;
	display: flex;
	margin-bottom: inherit;
	margin-left: 2%;
}

.formInput {
	text-align: left;
	display: flex;
	margin-bottom: inherit;
	height: 3vh;
	width: 93%;
	margin-left: 2%;
}

.formInputDescrition {
	width: 95%;
	height: 9vh;
}

.profilTitlePrivate {
	padding-top: 6%;
}

.buttonModifProfil {
	width: 13%;
	height: 3vh;
	margin-top: 5%;
	margin-left: 80%;
}

/* SEARCHBAR */
.navSearch {
	display: flex;
	background-color: #ffc0cb;
}

.inputSearch {
	width: 30%;
	margin-left: 43%;
	padding-left: 1%;
}

/* NAVBAR */
.navbar {
	width: 25%;
	height: 80%;
	background-color: pink;
	text-align: center;
}

.classDiv {
	margin-top: 20%;
	margin-bottom: 3%;
}

.bloc1 {
	padding-top: 6%;
}

.buttonDeco {
	margin-top: 140%;
	margin-bottom: 11%;
}

/* S IDENTIFIER */
.blocIdentifiant {
	border: 5px solid #5adfbc;
	width: 35%;
	position: absolute;
	top: 25vh;
	right: 18vw;
	text-align: center;
	padding-bottom: 2%;
}

.espace {
	padding: 2%;
}

.buttonValider {
	padding: 4%;
}
